@import url('../icon/theme/index.css');
@import url('../icon/iconfont/iconfont.css');
@import url('./element.scss');
.img-size-20 {
  width: 20px;
  height: 20px;
}
.img-size-14 {
  width: 14px;
  height: 14px;
}
.w-100 {
  width: 100px;
}
.w-200 {
  width: 200px;
}
.w-300 {
  width: 300px;
}
.w-400 {
  width: 400px;
}
