// 重写elementui样式
$borderColor: #bbb;
$activeBorderColor: #06f;
$backgroundColor: #06f;
// 按钮重写
.el-button {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #fff;
  border: 1px solid $borderColor;
  border-color: #c4c4c4;
  color: rgb(31, 44, 61);
  -webkit-appearance: none;
  text-align: center;
  outline: none;
  margin: 0;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  padding: 9px 16px;
  font-size: 14px;
  border-radius: 3px;
  font-weight: 400 !important;
}
.el-button + .el-button {
  margin-left: 8px;
}
.el-button:hover,
.el-button:focus {
  color: #06f;
  border-color: $activeBorderColor;
}
.el-button:active {
  color: #06f;
  border-color: $activeBorderColor;
  outline: none;
}
.el-button.el-button--primary {
  background-color: $backgroundColor;
  color: white;
}
// 搜索输入框
.el-input__inner::placeholder {
  color: #bebebe;
}
.el-input__inner:hover {
  border-color: $borderColor;
}
.el-input__inner:focus {
  outline: none;
  border-color: $activeBorderColor;
}
.el-input {
  position: relative;
  font-size: 14px;
  display: inline-block;
  width: 100%;
}
.el-input__inner {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: none;
  border-radius: 3px;
  border: 1px solid $borderColor;
  box-sizing: border-box;
  color: rgb(31, 44, 61);
  display: inline-block;
  font-size: inherit;
  height: 32px;
  line-height: 1;
  outline: none;
  padding: 3px 10px;
  transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  width: 100%;
}
// 输入框后缀icon
.el-input__suffix {
  height: 32px;
  top: 3px;
  &:hover {
    cursor: pointer;
  }
}
// 对话框样式重写
.el-dialog {
  .el-dialog__header {
    background: #f3f3f3;
    padding: 10px;
    .el-dialog__title {
      font-size: 14px;
      font-weight: 600;
    }
    .el-dialog__headerbtn {
      top: 15px;
      right: 15px;
    }
  }
  .el-dialog__body {
    padding: 10px 15px;
  }
}
// 表单中的样式
.arForm {
  .el-input__inner {
    border: none;
    border-bottom: 1px solid $borderColor;
  }
  .el-input__inner:focus {
    border-color: $activeBorderColor;
  }
}
