// 表格公用部分
$borderColor: #bbb;
$blurColor: #0066ff;
$focusColor: #0066ff;
$linkTextColor: #0066ff;
$fontSize: 14px;
$RowHeight: 36px;
$hoverBgColor: rgba(0, 102, 255, 0.1);
// 表格头部
$bgColorHeader: #eee;
$colorHeader: #333;
// 表格中部
$bgColorBodyEven: rgba(0, 102, 255, 0.05);
$bgColorBodyExpandRow: #f9f9f9;
// $colorBody: rgba(0, 0, 0, 0.85);
$colorBody: #333;
$editBorderColor: #0066ff;
$footerBgColor: #fffad6;
// 表格尾部
.plTableBox {
  // 主体部分
  .elx-table--main-wrapper {
    // 头部
    .elx-table--header-wrapper.body--wrapper {
      table > thead > tr {
        background-color: $bgColorHeader;
        th {
          height: $RowHeight;
          color: $colorHeader;
          font-weight: normal;
        }
      }
    }
    // 内容
    .elx-table--body-wrapper.body--wrapper {
      table > tbody > tr {
        &:nth-child(2n) {
          background-color: $bgColorBodyEven;
        }
        &.row--hover {
          background-color: $hoverBgColor;
        }
        td {
          height: $RowHeight;
          color: $colorBody;
          input {
            border: none;
            background: transparent;
          }
        }
      }
    }
    // 表格尾部
    .elx-table--footer-wrapper {
      border-top: 1px solid $borderColor;
      table > tfoot > tr {
        background-color: $footerBgColor;
        td {
          height: $RowHeight;
          color: $colorBody;
        }
      }
    }
  }
  // 固定部分
  .elx-table--fixed-wrapper {
    // 右侧固定部分
    .elx-table--fixed-right-wrapper {
      .elx-table--header-wrapper.fixed-right--wrapper {
        table > thead > tr {
          background-color: $bgColorHeader;
          th {
            height: $RowHeight;
            color: $colorHeader;
            font-weight: normal;
          }
        }
      }
      .elx-table--body-wrapper.fixed-right--wrapper {
        table > tbody > tr {
          &:nth-child(2n) {
            background-color: $bgColorBodyEven;
          }
          &.row--hover {
            background-color: $hoverBgColor;
          }
          td {
            height: $RowHeight;
          }
        }
      }
      .elx-table--footer-wrapper.fixed-right--wrapper {
        border-top: 1px solid $borderColor;
        table > tfoot > tr {
          background-color: $footerBgColor;
          td {
            height: $RowHeight;
            color: $colorBody;
          }
        }
      }
    }
    // 左侧固定部分
    .elx-table--fixed-left-wrapper {
      .elx-table--header-wrapper.fixed-left--wrapper {
        table > thead > tr {
          background-color: $bgColorHeader;
          th {
            height: $RowHeight;
            color: $colorHeader;
            font-weight: normal;
          }
        }
      }
      .elx-table--body-wrapper.fixed-left--wrapper {
        table > tbody > tr {
          &:nth-child(2n) {
            background-color: $bgColorBodyEven;
          }
          &.row--hover {
            background-color: $hoverBgColor;
          }
          td {
            height: $RowHeight;
          }
        }
      }
      .elx-table--footer-wrapper.fixed-left--wrapper {
        border-top: 1px solid $borderColor;
        table > tfoot > tr {
          background-color: $footerBgColor;
          td {
            height: $RowHeight;
            color: $colorBody;
          }
        }
      }
    }
  }
  // 边框线
  .elx-table.border--full .elx-body--column,
  .elx-table.border--full .elx-footer--column,
  .elx-table.border--full .elx-header--column {
    background-image: linear-gradient($borderColor, $borderColor), linear-gradient($borderColor, $borderColor);
  }
  .elx-table .elx-table--header-wrapper .elx-table--header-border-line {
    border-bottom: 1px solid $borderColor;
  }
  .elx-table .elx-table--border-line {
    border: 1px solid $borderColor;
  }
  .elx-table.border--full .elx-table--fixed-left-wrapper {
    border-right: 1px solid $borderColor;
  }
  .elx-cell div.oparation {
    span {
      margin-left: 8px;
      margin-right: 8px;
      color: $linkTextColor;
      &:hover {
        cursor: pointer;
      }
    }
    span.el-popover__reference-wrapper {
      margin-left: 0px;
      margin-right: 0px;
      span {
        margin-left: 0px;
        margin-right: 0px;
      }
    }
  }
}
